<a href="https://colab.research.google.com/github/Zaier9/Practicas-en-Colab/blob/main/Introduccion_a_Pnadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
series = pd.Series([5, 10, 15, 20, 25, 30])
series

0     5
1    10
2    15
3    20
4    25
5    30
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [4]:
series[3]

20

In [5]:
cad = pd.Series(['p', 'l', 'a', 't', 'z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [6]:
lst = ['Hola', 'Mundo', 'robotico']
df = pd.DataFrame(lst)
print(df)

          0
0      Hola
1     Mundo
2  robotico

In [7]:
data = {'Nombre': ['Juan', 'Ana', 'Jose', 'Arturo'], 
        'Edad': [25, 35, 19, 82],
        'Pais': ['Francia', 'Andorra', 'Italia', 'Japon']}

df = pd.DataFrame(data)
df

   Nombre  Edad     Pais
0    Juan    25  Francia
1     Ana    35  Andorra
2    Jose    19   Italia
3  Arturo    82    Japon

In [8]:
print(df[['Nombre', 'Pais']])

   Nombre     Pais
0    Juan  Francia
1     Ana  Andorra
2    Jose   Italia
3  Arturo    Japon

In [11]:
data = pd.read_csv('/canciones-2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [14]:
artista = data.artists
artista[5]

'Post Malone'

In [15]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [16]:
data.tail()

                       id  ... time_signature
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[5 rows x 16 columns]

In [18]:
data.shape

(100, 16)

In [19]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [20]:
data['tempo'].describe

<bound method NDFrame.describe of 0      77.169
1      75.023
2     159.847
3     140.124
4      91.030
       ...
95    125.046
96    105.076
97    135.702
98    180.043
99    126.684
Name: tempo, Length: 100, dtype: float64>

In [21]:
data.sort_index(axis = 0, ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

In [22]:
data.sort_index(axis=0, ascending=True)

                       id  ... time_signature
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
..                    ...  ...            ...
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[100 rows x 16 columns]